
#bg{
background-image: -webkit-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),
url(http://www.placehold.it/200x200);
background-image: -moz-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(http://www.placehold.it/200x200);
background-image: -o-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(http://www.placehold.it/200x200);
background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(http://www.placehold.it/200x200);}
#tweetText{
    margin: 0px;
    font-size:4em;
    text-shadow: 1px 2px 8px #e5e5e5, 0 0 0 rgba(50, 50, 0, 0.3), 1px 2px 8px #e5e5e5, 2px 2px 0px #ffffff;
}